<FilesMatch "dolphin\/images\/calenderi\.png">
  Allow from all
  Satisfy any
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]

</IfModule>
